body{
    background-color: #2E8B57;
}
.box-black {

    border: 3px solid black;
    position: relative;
    width: 400px;
    height: 400px;
    margin: 10px auto;
}
.box-red {
    border: 3px solid black;
    position: absolute;
    width: 80px;
    height: 60px;
    top: 50px; 
    left: 50px;
    background-color:red;

}
.box-blue {
    border: 3px solid black;
    position: absolute;
    width: 80px;
    height: 180px;
    top: 150px ;
    left: 50px;
    background-color : blue;
}
.box-green {
    border: 3px solid black;
    position: absolute;
    width: 180px;
    height: 160px;
    top: 50px;
    right: 50px;
    background-color: green;
}
.box-yellow {
    border: 3px solid black;
    position: absolute;
    width: 180px;
    height: 65px;
    right: 50px;
    bottom: 65px;
    background-color: yellow;
}
p{
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    font-family: monospace;
}